---
import Layout from '../layouts/Layout.astro';
import QuickProjects from '../config/quickProjects.json'
import Button from '../components/Button.astro';
import Bagde from '../components/CvButton.astro';
import About from './about.astro';
import Services from '../pages/services.astro';
import Contact from '../pages/contactme.astro';
import Footer from '../components/Footer.astro'
---

<Layout pagTitle='Alvaro Avila Dev' pagDescription='Home alvaro'>
	<div class="pb-10">
		<h1 class="font-bold text-center text-white text-5xl px-1"> 👋🏻 Hola! soy, Alvaro Avila <span class="text-indigo-600">Dev</span><div><Bagde>Descargar CV</Bagde></div></h1>
		<p class=" m-auto w-full max-w-[1300px] text-center mt-5 mb-8 text-xl px-10"> Desarrollador full-stack, comprometido en <span class="text-cyan-300 font-bold">potenciar, mejorar y ayudar</span> a tus emprendimientos digitales ofreciendo una calidad de experiencia excepcional al cliente. </p>
	</div>

	<About>
	</About>

	<section>
        <a id="Experiencia&Projectos" href="#"></a>
        <div class="pb-10">
            <h1 class="font-bold text-center text-white text-5xl px-1">Experiencia & <span class="text-indigo-600">Proyectos:</span> </h1>
        </div>
		<div class="grid">
			{
				QuickProjects.map(projects => (
					<div class="item">
						<h1 class="text-center font-bold text-2xl mt-5 pb-2 px-10 text-indigo-600">{projects.title}</h1>
						<p class="text-center m-5 text-xl ">{projects.description}</p>
						<div class="div-images h-auto w-auto">
							<img src={projects.image} alt="">
						</div>
						<Button dedicatedPage={projects.dedicatedPage}>{projects.title}</Button>
					</div>
				))
			}
		</div>
	</section>

    <Services>
    </Services>
    
    <Contact>
    </Contact>

    <Footer>
    </Footer>


</Layout>

<style>


.grid {
    background: #202020;
	border-radius: 20px;
    width: 100%;
    max-width: 1500px;
    height: 100%;
	margin: auto;
    display: grid;
    gap: 10px;
    padding: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "aside3 aside3 aside4 aside4 aside5 aside5 ";
}


.item {
    border: 1px solid rgb(70, 70, 229);
    border-radius: 10px;
}

.grid .item:nth-child(1) {
    grid-area: hero;
}

.grid .item:nth-child(2) {
    grid-area: aside2;
}

.grid .item:nth-child(3) {
    grid-area: aside3;
}

.grid .item:nth-child(4) {
    grid-area: aside4;
}

.grid .item:nth-child(5) {
    grid-area: aside5;
}

.div-images {
	display: grid;
	place-items: center;
}


@media screen and (max-width: 1546px) {
    .grid {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "hero   hero   hero   hero"
            "hero   hero   hero   hero"
            "aside2 aside2 aside2 aside3"
            "aside4 aside4 aside5 aside5";
    }
}

@media screen and (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "hero   hero   hero"
            "hero   hero   hero"
            "aside2 aside2 aside2"
            "aside3 aside3 aside3"
            "aside4 aside4 aside4"
            "aside5 aside5 aside5";
    }
}



</style>